{% extends 'base.html.twig' %}

{% block title %}
	Create a new Project


{% endblock %}

{% block body %}
				<section class="container">
					<div class="row">
						<div class="col">
							<h1>
								Create a new project
							</h1>
							{{ form_start(ajoutForm) }}
							<fieldset>
								{{ form_row(ajoutForm.ProjectName) }}
								<br>
								{{ form_row(ajoutForm.Categorie) }}
								<br>
								{{ form_row(ajoutForm.Impact) }}
								<br>
								{{ form_row(ajoutForm.Objet) }}
								{{ form_row(ajoutForm.Version) }}
								{{ form_row(ajoutForm.Description) }}
								{{ form_row(ajoutForm.Solution) }}
							</fieldset>
							<button type="submit" class="btn btn-danger btn-lg mt-3">
								Create
							</button>
							{{ form_end(ajoutForm) }}
						</div>
					</div>
				</section>
	{% endblock %}
