{% extends 'base.html.twig' %}

{% block title %}
	Register


{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('public\assets\css\styles.css') }}">
	<div class="bg_form">
		<form class="form_content">
			<div class="form-group">
				<section class="container">
					<div class="row">
						<div class="col">
							<h1>
								Register
							</h1>
							{{ form_start(ajoutForm) }}
							<fieldset>
								{{ form_row(ajoutForm.ProjectName) }}
								{{ form_row(ajoutForm.Categorie) }}
								{{ form_row(ajoutForm.Objet) }}
								{{ form_row(ajoutForm.Version) }}
								{{ form_row(ajoutForm.Description) }}
								{{ form_row(ajoutForm.Solution) }}
							</fieldset>
							<button type="submit" class="btn btn-danger btn-lg mt-3">
								Register
							</button>
							{{ form_end(ajoutForm) }}
						</div>
					</div>
				</section>
			</form>
		</div>
	{% endblock %}
