{% extends 'base.html.twig' %}

{% block title %}
    Register
        
    
{% endblock %}

{% block body %}

    <section class="container">
        <div class="row">
            <div class="col">
                <h1>
                    Register       
                </h1>
                {{ form_start(contactForm) }}
                <fieldset>
                    {{ form_row(contactForm.email) }}
                    {{ form_row(contactForm.firstname) }}
                    {{ form_row(contactForm.lastname) }}
                    {{ form_row(contactForm.subject) }}
                    {{ form_row(contactForm.message) }}
                </fieldset>

                <button type="submit" class="btn btn-danger btn-lg mt-3">
                    Register         
                </button>
                {{ form_end(contactForm) }}
            </div>
        </div>
    </section>

{% endblock %}
