<!DOCTYPE html>
<html>
	<head>
		<meta
		charset="UTF-8">


		{# Feuilles de styles #}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
		{% endblock %}

		{# Fichiers js #}

		{% block javascripts %}
			<script src="{{ asset('assets/js/scripts.js') }}" defer></script>
		{% endblock %}

	</head>
	<body>
		{% block head %}

			<link rel="icon" href="icon_path" type="public\assets\assets\Hanover.ico">

			{# Ici Navbar #}
			<!-- Responsive navbar-->
				<nav class="navbar navbar-expand-lg navbar-dark bg-light"> <div class="container">
					<a class="navbar-brand" href="/">
						<img src="assets/assets/HanoverFAQ.png">
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mb-2 mb-lg-0">
							<li class="nav-item dropdown">
								<a class="nav-link" id="navbarDropdown" href="/questions" role="button">
									Consultation
								</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Ajout & Modification
								</a>
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
									<li>
										<a class="dropdown-item" href="/ajouter">
											Ajout
										</a>
									</li>
									<li>
										<a class="dropdown-item" href="/pre-modification">
											Modification
										</a>
									</li>
								</ul>
							</li>
						</ul>
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
							{% if app.user %}
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_logout') }}">
										Log out
									</a>
								</li>

								{% if  app.user.roles == ["ROLE_ADMIN"]  %}
									<li class="nav-item dropdown">
										<a class="nav-link" id="navbarDropdown" href="admin" role="button">
											Administration
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_register') }}">
											Register
										</a>
									</li>
								{% endif %}

							{% else %}
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_login') }}">
										Log in
									</a>
								</li>
							{% endif %}

						</ul>
					</div>
				</div>
			</nav>
			<!-- Bootstrap core JS-->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
			<!-- Core theme JS-->
			<script src="js/scripts.js"></script>
			<!-- End bootstrap core JS -->
			<!-- End responsive navbar-->

		{% endblock %}
		{% block body %}{% endblock %}
	</body>
</html>
